textarea {
    max-width: 400px;
}

.col-md-3 {
    padding: 0!important;
}
.container-add-expense {
    background: #8080802e;
    padding: 10px;
    padding-top: 30px;
    margin-top: 20px;
}
.mat-form-field.full-width{
    max-width: 100%;
}