<div class="container">
  <div class="row">
    <div class="date-time-container">
      <div class="col-md-12">
        <div class="datetime-holder">
          <span>{{currentFullDate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="actions">
      <div class="col-md-6">
        <table class="actions">
          <tr>
            <td></td>
            <td><span class="action_header">EFEVO</span></td>
            <td><span class="action_header">BANCO</span></td>
          </tr>
          <tr>
            <td>Saldo</td>
            <td>$ {{balanceCash}}</td>
            <td>$ {{balanceBank}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 buttons">
        <button (click)="openAddform(true)"><img src="assets/income.png"></button>
        <button (click)="openAddform(false)"><img src="assets/expense.png"></button>
        <button (click)="manageBanks()"><img src="assets/bank.png"></button>
      </div>
    </div>
  </div>
  <app-add-expense *ngIf="actionControlService.isAddFormOpen" [transactionType]="transactionType"
    [clearForm]="clearAddTransactionForm">
  </app-add-expense>
  <h2>Income Summery</h2>
  <app-summery *ngIf="summery" [summery]="summery.income"></app-summery>
  <h2>Expense Summery</h2>
  <app-summery *ngIf="summery" [summery]="summery.expense"></app-summery>

  <div class="row month_specification">
    <div class="col-md-12"><span>{{getCurrentDate(false)}}</span></div>
  </div>
  <app-transaction-table tableType="income" class="income-data"></app-transaction-table>
  <app-transaction-table tableType="expense" class="expense-data"></app-transaction-table>
</div>