<div class="container">
  <div class="row">
    <div class="date-time-container">
      <div class="col-md-12">
        <div class="datetime-holder">
          <span>Marzo 15, 2019 12:33 PM</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="actions">
      <div class="col-md-6">
        <table class="actions">
          <tr>
            <td></td>
            <td><span class="action_header">EFEVO</span></td>
            <td><span class="action_header">BANCO</span></td>
          </tr>
          <tr>
            <td>Saldo</td>
            <td>$45</td>
            <td>$120</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 buttons">
        <button (click)="openAddform()"><img src="assets/income.png"></button>
        <button (click)="openAddform()"><img src="assets/expense.png"></button>
        <button (click)="manageBanks()"><img src="assets/bank.png"></button>
      </div>
    </div>
  </div>
  <app-add-expense *ngIf="actionControlService.isAddFormOpen" class=""></app-add-expense>
  <div class="row month_specification">
    <div class="col-md-12"><span>Marzo 2019</span></div>
  </div>
  <app-expense-table tableType="income" [transactions]="transactionsData" class="income-data"></app-expense-table>
  <app-expense-table tableType="expense" [transactions]="transactionsData" class="income-data"></app-expense-table>

</div>